{% extends "./base.html" %}

{% block content %}
<head>
  <title>INICIO</title>
</head>

<body class="body1">
  <div class="container centrado espaciado" style="margin-top: 8%">
    <!--
    <div class="row espaciado centrado letrasinicio ">
      <audio autoplay controls loop class="centrado col-sm-6 col-md-6">
        <source src="audios/clasica.mp3" type="audio/mpeg" />
        <source src="audios/El exorcista sin copyright.mp3" type="audio/ogg" />
        <source src="audios/El exorcista sin copyright.mp3" type="audio/waw" />
        <p>TU NAVEGADOR NO SOPORTA ESTE FORMATO DE AUDIO</p>
      </audio>
    </div>-->

    <nav
      class="navbar navbar-expand-sm navbar-dark espaciado creepybordermenuinicio"
    >
      <div class="container-fluid letrasinicio">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mynavbarr"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbarr">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link text-write" href="javascript:void(0)"
                >NUEVOS</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-write" href="javascript:void(0)"
                >MAS POPULARES</a
              >
            </li>
            <li class="nav-item dropdown d-flex navbar-nav centrado">
              <a
                class="nav-link dropdown-toggle text-write"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                >CATEGORIA
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item text-dark" href="#">ANIME Y MANGA</a>
                </li>
                <li>
                  <a class="dropdown-item text-dark" href="#"
                    >COMIC Y CARICATURAS</a
                  >
                </li>
                <li>
                  <a class="dropdown-item text-dark" href="#"
                    >SERIES Y PELICULAS</a
                  >
                </li>
                <li>
                  <a class="dropdown-item text-dark" href="#">ORIGINALES</a>
                </li>
                <li>
                  <a class="dropdown-item text-dark" href="#"
                    >PERSONAJES CONOCIDOS</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex navbar-nav centrado" hre>
            {% if user %}
            <a class="btn btn-dark" href="{% url 'subircreepy' %}" role="button"
              >SUBIR CREEPY</a
            >
            {% endif %}
          </form>
        </div>
      </div>
    </nav>

    <div class="row espaciado centrado letrasinicio">
      <!--PRIMERA CREEPY-->
      {% for m in listo %}
      <div class="col-sm-6 col-md-4 centrado espaciado">
        <div class="card creepybordeinicio">
          <div class="card-body">
            <h5 class="card-title text-center">
              {% if m.imagen %}
              <img src="{{ m.imagen.url }}" alt="Sin foto " id="img_arre" />
              {% endif %}
            </h5>
            <h3 class="centrado">Nombre: {{ m.nombrecreepy }}</h3>
            <h5 class="centrad">Genero: {{ m.generos }}</h5>
            <p class="centrado">{{ m.resumen }}</p>
            <h6 class="centrado"><a href="{% url 'cargar_usuario' m.creador.correo %}">{{ m.creador }}</a></h6>
            <p class="card-text text-righf">
              <a
                class="btn btn-dark"
                href="{{ m.get_absolute_url }}"
                role="button"
                >LEER AHORA</a
              >
              <a
                type="button"
                href="{{ m.agregar_megusta }}"
                class="fs-5 text-reset like-button"
              >
                {% if user in m.me_gusta.all %}
                <i class="fas fa-heart text-danger"></i>
                {% else%}
                <i class="far fa-heart"></i>
                {% endif %}
              </a>
              <span>{{m.me_gusta.all | length}}</span>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}
