{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REGISTRATE</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{%static 'paginas/css/estilos.css'%}">

</head>

<body class="body2">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark  fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand " href="{% url 'inicio' %}"><img
          src="{% static 'paginas/img/logo bajo menu/creepypasta_logo_fit.png' %}" class="logo_menu" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto centrado">
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'inicio' %}">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'informacion' %}">INFORMACIÓN</a>
          </li>
          <li class="nav-item dropdown d-flex navbar-nav centrado ">
            <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown">CUENTA </a>
            <ul class="dropdown-menu  ">
              <li><a class="dropdown-item text-danger " href="{% url 'tushistorias' %}">TUS HISTORIAS</a></li>
              <li><a class="dropdown-item text-danger " href="{% url 'listadom' %}">COSAS ADMI</a></li>
              <li><a class="dropdown-item text-danger " href="{% url 'ajustedatos' %}">AJUSTES DATOS</a></li>
              <li><a class="dropdown-item text-danger " href="{% url 'ajustecontrasenia' %}">AJUSTES CONTRASEÑA</a></li>
              <li><a class="dropdown-item text-danger " href="{% url 'inicio' %}">CERRAR SESIÓN</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav justify-content-end navbar-nav centrado">
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'logueate' %}">ACCEDER</a>
          </li>
        </ul>
        <ul class="nav justify-content-end navbar-nav centrado">
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'registro' %}">REGISTRO</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>




  <div class=" container centrado">

    <div class="row" style="margin-top: 10%; margin-bottom: 5%;">
      <div class="col-md-2 hidden-sm"></div>
      <div class="col-md-8 col-sm-12  creepyborderegistro">
        <form action="{% url 'usuarios:registrar' %}" name="registro1" id="registrof" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          <h1 class="centrado letrasregistroylogin">Formulario de registro</h1>
          <div class="row letrasregistroylogin">
            <div class="form-group col-md-12 col-sm-12">
              <label>
                <h4>Ingrese su imagen de perfil</h4>
              </label>
              <input type="file" name="imagenperfil" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese un nombre</h4>
              </label>
              <input type="text" id="nombreregistro" name="nombreregistro" class="form-control" required>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese un apellido</h4>
              </label>
              <input type="text" id="apellidoregistro" name="apellidoregistro" class="form-control" required>
            </div>


            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>ingrese su correo Electronico</h4>
              </label>
              <input type="email" id="registrocorreo" name="correoregistro" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese su fecha de nacimiento</h4>
              </label>
              <input type="date" id="edad" name="edad" class="form-control" required>
            </div>


            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese una contraseña</h4>
              </label>
              <input type="password" id="contraseñaregistro" name="contraseñaregistro" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Confirme su contraseña</h4>
              </label>
              <input type="password" id="confirmarcontraseñaregistro" name="confirmarcontraseñaregistro"
                class="form-control" required>
            </div>



            <div class="col-md-3 col-sm-3 "></div>
            <div class="row espaciado col-md-6 col-sm-6 ">
              <input type="reset" class="btn btn-danger">
            </div>
            <div class="col-md-3 col-sm-3"></div>

            <div class="col-md-3  col-sm-3"></div>
            <div class="row espaciado col-md-6 col-sm-6 ">
              <button class="btn btn-danger" type="submit">
                <h5>Confirmar creacion de cuenta</h5>
              </button>
            </div>
            <div class="col-md-3 col-sm-3 "></div>
            <p id="mensajes"></p>

            <h3 style="color: rgb(255, 0, 0);">PD:Por seguridad no le comparta a nadie estos datos , EL nombre Y
              el apellido deben inicar con mayusculas y tener una determinada cantidad de letras </h3>

          </div>
        </form>
      </div>
      <div class="col-md-2 hidden-sm"></div>
    </div>

  </div>


  
  <script src="{%static 'paginas/js/validacionregistro.js'%}"></script>
 

</body>

</html>