{% extends "./base.html" %}{% load static %}

{% block content %}
<head>
  <title>AJUSTE CONTRASEÑA</title>
</head>

<body class="body1">



  <div id="section2" class=" container centrado">

    <div class="row" style="margin-top: 14%; margin-bottom: 8%;">
      <div class="col-md-2 hidden-sm"></div>
      <div class="col-md-8 col-sm-12  creepyborderegistro">
        <form action="{% url 'inicio' %}" id="ajustecontraseña" name="registro1">
          <div class="col-md-12 letrasajustecuenta">
            <h1>En este lugar podra modificar su contraseña</h1>
          </div>
          <div class="row letrasajustecuenta">


            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese su nueva contraseña</h4>
              </label>
              <input type="password" id="nuevacontraseña" name="nuevacontraseña" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Confirme su nueva contraseña</h4>
              </label>
              <input type="password" id="confirmarnuevacontraseña" name="nuevacontraseñaconfirmar" class="form-control"
                required>
            </div>


            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Confirme cambio con su contraseña</h4>
              </label>
              <input type="password" id="contraseña2" name="confrimarnuevacontraseña" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Confirme cambio con su contraseña</h4>
              </label>
              <input type="password" id="confirmarcontraseña" name="confrimarnuevacontraseña2" class="form-control"
                required>
            </div>



            <div class="col-md-3 col-sm-3 "></div>
            <div class="row espaciado col-md-6 col-sm-6 ">
              <input type="reset" class="btn btn-danger">
            </div>
            <div class="col-md-3 col-sm-3"></div>

            <div class="col-md-3  col-sm-3"></div>
            <div class="row espaciado col-md-6 col-sm-6 ">
              <button class="btn btn-danger" type="submit ">
                <h5>Confirmar creacion de cuenta</h5>
              </button>
            </div>
            <div class="col-md-3 col-sm-3 "></div>

            <p id="mensajes"></p>

            <h3>PD:Por seguridad no le comparta a nadie estos datos </h3>
          </div>
        </form>
      </div>
      <div class="col-md-2 hidden-sm"></div>
    </div>

  </div>

  
  <script src="{%static 'paginas/js/validacionajustecontraseña.js'%}"></script>
  

</body>
{% endblock %}