{% extends "./base.html" %}{% load static %}

{% block content %}
<head>
  <title>creepy</title>
</head>

<body class="body1">



  <div class="row espaciado centrado letrasinicio " style="margin-top: 5%; margin-bottom: 5%;">
    <div class="col-md-1 hidden-sm"></div>


    <div class="col-sm-10 col-md-10 centrado espaciado">
      <div class="card  creepyborderhistorias letrasinicio">
        <div class="card-body">
          {% block nombre %}
          {% endblock nombre %}
         
             {% block imagenes %}
            {% endblock imagenes %}

            {% block historias %}
            {% endblock historias %}

        </div>
      </div>
    </div>
    <div class="col-md1 hidden-sm"></div>
  </div>





</body>

{% endblock %}


<!--este codigo en verda va en historia 1 reemplazando todo el contenido 

{% extends 'paginas/historiasplantilla.html' %}
{% load static %}

{% block nombre %}
<h3 class="centrado">{{ nombrecreepy }}</h3>
{% endblock nombre %}



{% block imagenes %}
<h5 class="card-title text-center "> <img src="{{ imagen }}" id="img_historias" alt="Sin foto" ></h5>
{% endblock imagenes %}


{% block historias %}
<h3 class="centrado"> {{ historia }}</h3>
{% endblock historias %}
-->
