{% extends "./base2.html" %} {% load static %}

{% block content %}
<head>
  <title>REGISTRO</title>
</head>

<body class="body2">


  <div class=" container centrado">

    <div class="row" style="margin-top: 10%; margin-bottom: 5%;">
      <div class="col-md-2 hidden-sm"></div>
      <div class="col-md-8 col-sm-12  creepyborderegistro">
        <form action="{% url 'usuarios:registrar' %}" name="registro1" id="registrof" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          <h1 class="centrado letrasregistroylogin">Formulario de registro</h1>
          <div class="row letrasregistroylogin">
            <div class="form-group col-md-12 col-sm-12">
              <label>
                <h4>Ingrese su imagen de perfil</h4>
              </label>
              <input type="file" name="imagenperfil" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese un nombre</h4>
              </label>
              <input type="text" id="nombreregistro" name="nombreregistro" class="form-control" required>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese un apellido</h4>
              </label>
              <input type="text" id="apellidoregistro" name="apellidoregistro" class="form-control" required>
            </div>


            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>ingrese su correo Electronico</h4>
              </label>
              <input type="email" id="registrocorreo" name="correoregistro" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese su fecha de nacimiento</h4>
              </label>
              <input type="date" id="edad" name="edad" class="form-control" required>
            </div>


            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese una contraseña</h4>
              </label>
              <input type="password" id="contraseñaregistro" name="contraseñaregistro" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Confirme su contraseña</h4>
              </label>
              <input type="password" id="confirmarcontraseñaregistro" name="confirmarcontraseñaregistro"
                class="form-control" required>
            </div>



            <div class="col-md-3 col-sm-3 "></div>
            <div class="row espaciado col-md-6 col-sm-6 ">
              <input type="reset" class="btn btn-danger">
            </div>
            <div class="col-md-3 col-sm-3"></div>

            <div class="col-md-3  col-sm-3"></div>
            <div class="row espaciado col-md-6 col-sm-6 ">
              <button class="btn btn-danger" type="submit">
                <h5>Confirmar creacion de cuenta</h5>
              </button>
            </div>
            <div class="col-md-3 col-sm-3 "></div>
            <p id="mensajes"></p>

            <h3 style="color: rgb(255, 0, 0);">PD:Por seguridad no le comparta a nadie estos datos , EL nombre Y
              el apellido deben inicar con mayusculas y tener una determinada cantidad de letras </h3>

          </div>
        </form>
      </div>
      <div class="col-md-2 hidden-sm"></div>
    </div>

  </div>


  
  <script src="{%static 'paginas/js/validacionregistro.js'%}"></script>
 

</body>

{% endblock %}