{% extends "./base2.html" %} {% load static %}

{% block content %}
<head>
  <title>SUBIR CREEPY</title>
</head>

<body class="body2">

  <div class="container-fluid centrado   col-md-10 col-sm-10  " style="margin-top: 7%;">
    <div class="row alert alert-danger centrado  ">
      <p>
      <br> REGLAS <BR> 1)No pueden haber creepypastas repetidos o con una historia muy similar, en caso de que suceda el
      creepypasta sera borrado
      <BR>2) Una vez subido el creepypasta ya no se podra modificar y solo tendra la opcion de borrarlo si no le gusto
      </p>
    </div>
  </div>


  <div class=" container centrado">

    <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="col-md-2 hidden-sm"></div>

      <div class="col-md-8 col-sm-12  creepyborderegistro">
        <form action="{% url 'registraM' %}" id="subircreepy" method="post" enctype="multipart/form-data" name="registrosubir">
          {% csrf_token %}
          <h1 class="centrado letrasregistroylogin">SUBIDA DE CREEPYPASTA</h1>
          <div class="row letrasregistroylogin">

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese su imagen</h4>
              </label>
              <input type="file" id="imagencreepy" name="imagencreepy" class="form-control" required>
            </div>


            <div class="form-group  col-md-6 col-sm-6">
              <label for="categoriacreepysubir" class="form-label" >Ingrese la categoria</label>
              <SELEct class="form-control" name="seleccion1" id="seleccion1">
                  {% for i in lista_r %}
                  <option value="{{ i.idgenero}}">{{i.genero}}</option>
                  {%endfor%}
          
              </SELEct>
           </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Ingrese el nombre del creepypasta</h4>
              </label>
              <input type="text" id="nombrecreepycrear" name="nombrecreepycrear" class="form-control" required>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label>
                <h4>Confirme nombre del creepypasta</h4>
              </label>
              <input type="text" id="confirmarnombrecreepy" name="confirmarnombrecreepy" class="form-control" required>
            </div>

            <div class="form-group col-md-12 col-sm-12">
              <label>
                <h4>Ingrese un resumen corto de su historia <br>(DEBE TENER ENTRE 90 Y 103 PALABRAS CONTANDO ESPACIOS Y
                  SIMBOLOS)</h4>
              </label>
              <textarea type="text" class="form-control" rows="2" id="resumencreepy" name="resumencreepy" required></textarea>
            </div>

            <div class="form-group col-md-12 col-sm-12">
              <label>
                <h4>Ingrese la historia de su creepypasta</h4>
              </label>
              <textarea type="text" class="form-control" rows="5" id="historiacreepy" name="historiacreepy" required></textarea>
            </div>
  



            <div class="col-md-3  col-sm-3"></div>
            <div class="row espaciado col-md-6 col-sm-6 ">
              <button class="btn btn-danger" type="submit">
                <h5>Subir creepypasta</h5>
              </button>
            </div>
            <div class="col-md-3 col-sm-3 "></div>

            <div class="col-md-3 col-sm-5 "></div>
            <div class="row espaciado col-md-6 col-sm-2 ">
              <input type="reset" class="btn btn-danger">
            </div>
            <div class="col-md-3 col-sm-5 espaciado"></div>

            <p id="mensajesc"></p>

          </div>
        </form>
      </div>
      <div class="col-md-2 hidden-sm"></div>
    </div>

  </div>



  <script src="{% static 'paginas/js/validacioncrearcreepy.js' %}"></script>
 

</body>

{% endblock %}