{% extends "./base2.html" %} {% load static %}

{% block content %}
<head>
  <title>TUS HISTORIAS</title>
</head>


<body class="body2">


  <div class="container   centrado espaciado" style="margin-top: 7%;">




    <nav class="navbar navbar-expand-sm navbar-dark espaciadoadmi  creepybordetushistorias">
      <div class="container-fluid letrasinicio ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbarr">
          <h2>PERFIL</h2>
        </button>
        <div class="collapse navbar-collapse" id="mynavbarr">
          <div class="row espaciado centrado ">
            <h4>Si tienes un mal comportamiento recibiras un strike, Con 3 strikes es ban permanente</h4>


            <div class="col-sm-6 col-md-3 centrado espaciado">
              <h4>FOTO DE PERFIL</h4>
              <h5 class="card-title text-center "><img id="img_arre" src="{{ user.imagen_perfil.url }}"> </h5>
            </div>


            <div class="col-sm-6 col-md-3 centrado espaciado">
              <h5 class="centrado"> NOMBRE DEL USUARIO: <br>{{ user.primer_nombre}}</h5>
              <h5 class="centrado espaciado"> APELLIDO DEL USUARIO: <br> {{ user.apellido}} </h5>
              <h6 class="centrado espaciado">CORREO:<br>{{user.correo}}<br></h6>
            </div>



            <div class="col-sm-6 col-md-3 centrado espaciado">
              <p class="card-text text-righf">
                <a class="btn btn-danger" href="{% url 'ajustedatos' %}" role="button">Ajustar tus de datos</a>
              </p>
              <p class="card-text text-righf espaciado">
                <a class="btn btn-danger" href="{% url 'ajustecontrasenia' %}" role="button">Ajustar tus contraseña</a>
              </p>
              <p class="card-text text-righf espaciado">
                <a class="btn btn-danger" href="{% url 'enviarmensajeadmi' %}" role="button">Enviar mensaje al admi </a>
              </p>
            </div>



            <div class="col-sm-6 col-md-3 centrado ">
              <h4>STRIKES</h4>
              <div>
                <p class="card-text text-righf">
                  <a class="btn btn-success">O</a>
                </p>
              </div>

              <div class=" espaciado ">
                <p class="card-text text-righf">
                  <a class="btn btn-success">O</a>
                </p>
              </div>

              <div class=" espaciado ">
                <p class="card-text text-righf">
                  <a class="btn btn-danger" role="button">X </a>
                </p>
              </div>
              <h4>No debes de ser toxico</h4>
            </div>

          </div>
        </div>
      </div>
    </nav>





    <div class="row espaciado centrado letrasinicio ">

      <!--PRIMERA CREEPY-->
      {% for m in listos %}
      <div class="col-sm-6 col-md-4 centrado espaciado">
        <div class="card  creepybordetushistorias">
          <div class="card-body">
            <h5 class="card-title text-center ">
              {% if m.imagen %}
              <img src="{{ m.imagen.url }}" alt="Sin foto " id="img_arre">
              {% endif %}
            </h5>
            <h3 class="centrado"> Nombre: {{ m.nombrecreepy }}</h3>
            <h5 class="centrad"> Genero: {{ m.generos }}</h5>
            <p class="centrado">{{ m.resumen }}</p>
            <p class="card-text text-righf">
              <a class="btn btn-danger" href="{{ m.get_absolute_url }}" role="button">REVISAR</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>




  </div>

</body>
{% endblock %}