{% extends "./base.html" %} {% load static %}

{% block content %}
<head>
  <title>VER MENSAJES DE USUARIOS</title>
</head>


<body class="body1">

  


    <div class="container   centrado espaciado" style="padding:100px 10px;">







        <div class="row espaciado centrado letrasinicio creepybordermenuinicio ">





            <nav class="navbar navbar-expand-sm navbar-dark espaciado creepybordeadmi">
                <div class="container-fluid letrasinicio">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbarr">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mynavbarr">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link text-write" href="{% url 'listadom' %}">VER HISTORIAS DE LOS
                                    USUARIOS</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                              <a class="nav-link text-write" href="{% url 'verusuariosadmi' %}">VER USUARIOS REGISTRADOS </a>
                            </li>
                          </ul>
                        <ul class="nav justify-content-end navbar-nav centrado">
                            <li class="nav-item">
                                <a class="nav-link text-write" href="{% url 'vermensajesadmi' %}">VER MENSAJES Y QUEJAS
                                    DE LOS USUARIOS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>







            <div class="col-md-12  letrasajustecuenta">
                <h1>En este lugar podra aprobar o rechazar las historias de los usuarios</h1>
            </div>


            {% for m in listas %}
       

            <div class="row espaciadoadmi centrado creepybordeadmi">


                <div class="col-sm-6 col-md-3 centrado espaciado">
                    <h5 class="card-title text-center "><img id="img_arre"
                            src="{% static 'paginas/img/Fotoperfil/192975858-352-k265696.jpg' %}"></h5>
                </div>


                <div class="col-sm-6 col-md-3 centrado espaciado">
                    <!--esto trae el usuario del mensaje-->
                    <h5 class="centrado"> NOMBRE DEL USUARIO: <br>{{ m.usuario.primer_nombre }} {{ m.usuario.apellido }} <br> </h5>
                    <h5 class="centrado"> CORREO DEL USUARIO: <br>{{ m.usuario.correo }} <br> </h5>
                    <h5 class="centrado espaciado">Causa del mensaje: <br> {{ m.consultasadmi }} </h5>
                </div>




                <div class="col-sm-6 col-md-4 centrado espaciado">
                    <h4> MENSAJE: <br> {{ m.mensaje }}</h4>
                    <p class="centrado">

                    </p>
                </div>


                <div class="col-sm-6 col-md-2 centrado espaciado">
                    <p class="card-text text-righf">
                        <a class="btn btn-danger" href="{% url 'borrarmensajes' m.idmensaje %}" role="button">Eliminar mensaje </a>
                    </p>
                </div>

            </div>
            {% endfor %}


           



        </div>




    </div>












</body>
{% endblock %}