{% extends "./base.html" %}{% load static %}

{% block content %}

<head>
  <title>creepy</title>
</head>


<body class="body1">


  <div class="container col-md-12 col-sm-12 espaciado centrado letrasinicio "style="margin-top: 5%; margin-bottom: 5%">


    <div class="row col-md-12 col-sm-12 espaciado">
      <div class="card creepyborderhistorias letrasinicio">
        <div class="card-body">
          <h3 class="centrado">{{ creepy.nombrecreepy }}</h3>
          <h5 class="card-title text-center">
            <img id="img_historias" src="{{ creepy.imagen.url }}" />
          </h5>
          <h6 class="centrado">CREADOR: {{ creepy.creador}}</h6>
          <h3 class="centrado">{{ creepy.historia }}</h3>

        </div>
      </div>
    </div>

  


    

    <div class="row col-md-12 espaciado">
      <div class="card creepyborderhistorias letrasinicio">
        
        <h5 class="letrasajustecuenta">APARTADO DE LOS COMENTARIOS</h5>

        <div class="col-md-12 col-sm-12 espaciadoadmi">
          {% for comentario in creepy.obtener_comentarios %}
          <p class="mb-0 espaciadoadmi">
            <strong class=" col-sm-6 col-md-4">{{ comentario.usuario }} :</strong> {{ comentario.cuerpo }}
    
            {% if user.correo == comentario.usuario.correo %}
        
            <a class="navbar-brand" title="MODIFICAR COMENTARIO" href="{% url 'ajustescomentarios' comentario.idcomentario %}"><img
              src="{% static 'paginas/img/historias/ModificarCreepy.png' %}" height="40" width="40" alt="Modificar comentario"
              loading="lazy" /></a>

            {% endif %}

            {% if perms.catalog.is_staff %} 

            <a class="navbar-brand" title="BORRAR COMENTARIO" href="{% url 'borrarcomentarios' comentario.idcomentario %}"><img
              src="{% static 'paginas/img/historias/BorrarCreepy.png' %}" height="40" width="40" alt="Borrar comentario"
              loading="lazy" /></a>

            {% endif %}




          </p>
          {% endfor %}
        </div>

        <hr clas="border-0" />
        {% if user.correo %}
        <form class="row" enctype="multipart/form-data" action="{% url 'agregar_comentario' creepy.idcreepypasta %}"
          id="formulario_comentario" method="post">
          {% csrf_token %}
          <div class="d-flex justify-content-center">
            <img src="{{user.imagen_perfil.url}}" class="mx-2 rounded-circle my-auto" height="40" width="40" alt=""
              loading="lazy" />
            <input id="comentario" name='comentario' class="form-control my-auto mx-2"
              placeholder="Añadir un comentario..." />
            <div>
              <button class="btn btn-primary btn-sm my-auto btn-block border comment-button" type="submit">
                Publicar
              </button>
            </div>

          </div>

          <p class="espaciado">Recuerda comentar lo mas educadamente posible sin ofender a nadie, cuida tu lenguaje ,
            preocupate de no ofender a nadie y trata de comentar solo cosas relacionadas a la historia
          </p>

        </form>
        {% endif %}




      </div>
    </div>
 



  </div>

</body>

<script src="{% static 'paginas/js/validacioncomentario.js' %}"></script>
{% endblock %}